@import url("./colors.css");

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0.78;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 3px transparent;
    padding: 2px 12px;
    margin: 1px 1px;
    border-radius: 0px;
    color: @wht;
    background: #000;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @wht;
    border-bottom: 3px solid @crml;
}
#workspaces button.empty {
    color: @wht;
}
#workspaces button.empty.active {
    color: @wht;
    border-bottom: 3px solid @crml;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window,
#mpd {
    padding: 0.2rem 0.8rem;
    margin: 0.3rem 0.25rem;
    border-radius: 0px;
    background-color: #000;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @wht;
    border-bottom: 4px solid @wht;
}

#wireplumber {
    color: @wht;
    /*border-bottom: 4px solid @wht;*/
}

#battery {
    color: @red;
    border-bottom: 4px solid @red;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @bl;
    border-bottom: 4px solid @bl;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @whi;
    border-bottom: 4px solid @whi;
}

#window {
    color: @wht;
    padding: 3px 20px;
    border-bottom: 2px solid @wht;
}

